@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes wordScroll {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  10% {
    opacity: 1;
    transform: translateY(0);
  }
  90% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}

.animate-word-scroll {
  animation: wordScroll 2s ease-in-out;
}
